---
layout: default
---

<main class="wrapper big" id="main" tabindex="-1">
  <header class="case-header">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">JUHO KARHU</a>
    <a href="/" class="back">
      Back
    </a>
  </header>
  <article>

    <div class="case-intro text-center">
      <h1>{{ page.title | escape }}</h1>

      <p class="narrow">{{ page.excerpt | escape }}</p>
    </div>

    <div class="box case-video">
      <div class="case-cover">
        <!-- <video playsinline muted loop autoplay width="100%" height="auto" preload="metadata" style="margin-bottom:-10px">
          <source src="{{ site.baseurl }}/assets/movies/biila-go.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video> -->
        <img src="{{ site.baseurl }}/assets/images/{{ page.coverImage }}" alt="{{ page.title | escape }}">
      </div>
    </div>

    <div class="narrow">
      {{ content }}
    </div>

  </article>
  <footer class="case-footer">
    <p class="back-link">
      <a href="/" class="back">Back home</a>
    </p>
    <p class="copyright">© Juho Karhu - I do save some cookies for analytics.</p>
  </footer>
</main>
