---
layout: default
---

<main class="home" id="main" tabindex="-1">

      <div class="home-sidebar">
        <header class="home-header" role="banner">
          <div class="header-content">
            <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="{{ site.baseurl }}/assets/images/juho.png" alt="Profile picture of Juho"> JUHO KARHU</a>

            <h1 class="big-header"><small>A developing</small><br>
              Product Designer</h1>

            <p>Hi, I am a Senior Product Designer with a developer background and over 10 years of experience. I question and challange myself and others so that we can deliver digital products that are sustainable and lead the change.</p>
          </div>
        </header>

        <nav class="nav-container" id="nav" aria-label="Sections">
          <ul class="nav">
            <li>
              <a href="#work" class="active">Work</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="home-content" aria-label="Content">
        <div class="wrapper">

          <div class="section" id="work">
            <h2 class="text-center section-title">Work</h2>
    
            {%- if site.cases.size > 0 -%}
              <ul class="cases-list">
                {% assign cases = site.cases | sort: 'order' %}
                {%- for case in cases -%}
                <li>
                  <a class="case-link" href="{{ case.url | relative_url }}">
                    <div class="box">
                      <div class="case-cover">
                        <img src="{{ site.baseurl }}/assets/images/{{ case.coverImage }}" alt="{{ case.name | escape }}">
                      </div>
                    </div>
                    <h3>
                        {{ case.name | escape }}
                    </h3>
                    {%- if case.excerpt -%}
                      <p>{{ case.excerpt }}</p>
                    {%- endif -%}

                    {%- if case.link -%}
                      <p><a href="" class="button">Read case study</a></p>
                    {%- endif -%}
                  </a>
                </li>
                {%- endfor -%}
            </ul>
            {%- endif -%}
          </div>

          <div class="section" id="about">
            <h2 class="text-center section-title">About</h2>

            <div class="inset">
              <h3>About me</h3>
              <p>I am a Product Designer born in Finland and raised in Sweden. When I started to learn design it was natural for me to also learn how to code as just imagining things was nice, but the real magic happened when I could build the designs to life as well! I had found my passion! I think my developer background help me to understand the constraints and see the possibilities when I design.</p>

              <p>In my free time, I love spending time with my family, listen to audiobooks, playing board/video games and baking bread.</p>

              <p>Currently I work as a Senior Product Designer at Futurice, helping different industries with digitalization and design systems.</p>

              <h3 class="margin-top">Experience</h3>

              <div class="experience-table">

                <div class="row">
                  <div class="years">
                    2020-2022
                  </div>
                  <div class="dots"></div>
                  <div class="content">
                    <div class="title">
                      Senior Product Designer
                    </div>
                    Futurice, Stockholm Sweden
                  </div>
                  <div class="category"><span>Work</span></div>
                </div>

                <div class="row">
                  <div class="years">
                    2019-2020
                  </div>
                  <div class="dots"></div>
                  <div class="content">
                    <div class="title">
                      Design Lead
                    </div>
                    Hyper Island, Stockholm Sweden
                  </div>
                  <div class="category"><span class="education">Education</span></div>
                </div>

                <div class="row">
                  <div class="years">
                    2015-2020
                  </div>
                  <div class="dots"></div>
                  <div class="content">
                    <div class="title">
                      Product Designer & Full Stack Developer
                    </div>
                    Ninjami, Oulu Finland & Borlänge Sweden
                  </div>
                  <div class="category"><span>Work</span></div>
                </div>

                <div class="row">
                  <div class="years">
                    2013-2015
                  </div>
                  <div class="dots"></div>
                  <div class="content">
                    <div class="title">
                      Marketing Assistant
                    </div>
                    Apprenticeship, Markkinointi-instituutti, Oulu Finland
                  </div>
                  <div class="category"><span class="education">Education</span></div>
                </div>

                <div class="row">
                  <div class="years">
                    2011-2015
                  </div>
                  <div class="dots"></div>
                  <div class="content">
                    <div class="title">
                      Web Designer & Developer
                    </div>
                    Ideasampo, Oulu Finland
                  </div>
                  <div class="category"><span>Work</span></div>
                </div>

                <div class="row">
                  <div class="years">
                    2010-2011
                  </div>
                  <div class="dots"></div>
                  <div class="content">
                    <div class="title">
                      Web Designer
                    </div>
                    Freelance projects during High School
                  </div>
                  <div class="category"><span>Work</span></div>
                </div>

                <div class="row">
                  <div class="years">
                    2008-2011
                  </div>
                  <div class="dots"></div>
                  <div class="content">
                    <div class="title">
                      High School - Technical program
                    </div>
                    Helixgymnasiet, Borlänge Sweden
                  </div>
                  <div class="category"><span class="education">Education</span></div>
                </div>
              </div>


              <h3>Languages</h3>

              <ul class="languages">
                <li class="language">
                  <strong>Swedish</strong>
                  First language
                </li>

                <li class="language">
                  <strong>Finnish</strong>
                  First language
                </li>

                <li class="language">
                  <strong>English</strong>
                  Very good
                </li>

                <li class="language">
                  <strong>Norwegian</strong>
                  Excellent understanding
                </li>
              </ul>

          </div>
          </div>

          <div class="section" id="contact">
            <h2 class="text-center section-title">Contact</h2>

            <h3>Get in touch</h3>
            <p>Happy to hear from you!</p>

            <p><a href="tel:+47736878693">+46 73-687 86 93</a><br>
              <span class="mail">juho.karhu(at)hyperisland.se</span></p>

            <p class="copyright">© Juho Karhu - I do save some cookies for analytics 🍪</p>
          </div>

      </div>
      </div>

</main>
